# Python 缓存
__pycache__/
*.py[cod]

# 构建文件
build/
dist/
wheels/
*.egg-info/

# 虚拟环境
.venv/

# 数据集、测试图片
LeNet/data/
LeNet/my_photo
AlexNet/data
AlexNet/my_photo
ResNet/data
ResNet/my_photo
bili/


# 模型文件
*.pth
*.pt
*.ckpt
